# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Variables
*.auto.tfvars
terraform.tfvars

# Keys
*.pem
*.key
deployer-key
deployer-key.pub

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db