[defaults]
inventory = inventory/hosts.ini
private_key_file = ../terraform/modules/ec2/deployer-key
remote_user = ec2-user
host_key_checking = False
log_path = ansible.log
roles_path = ./roles

[privilege_escalation]
become = True
become_method = sudo
become_user = root